.MainContactContainer {
    display: flex;
    gap: 30px;
    border: 2px solid;
    max-width: 1250px;
    background-color: #67AE6E;
    padding: 10px;
}

.contactContainer {
    max-width: 750px;
    text-align: center;
    /* margin-top: 40px; */
    background-color: #328E6E;
    /* margin-left: 400px; */
    padding: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 2PX solid;

}

.SecondContact {
    background-color: #328E6E;
    padding: 5px;
    width: 500px;
    border: 2px solid;
    font-family: 'Times New Roman', Times, serif;
}

.SecondContact .sci {
    text-decoration: none;
    font-size: 30px;
    list-style: none;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.SecondContact .sci li a i {
    background-color: #328E6E;
    font-size: 20px;
}

.contactLabel {
    margin-right: 10px;
}

.contactInput {
    color: rgb(61, 71, 71);
    background-color: rgb(210, 229, 221);
    border: none;
    border-radius: 2PX;
}

.contactInput:hover {
    background-color: rgb(149, 169, 158);
}

.contactMsg {
    width: 300px;
    height: 100px;
}

.contactBtn {
    margin-top: 10px;
    background-color: rgb(134, 108, 134);
    border: none;
    border-radius: 5px;
}

.contactBtn:hover {
    background-color: rgb(92, 67, 95);
}

.ContactH2 {
    color: whitesmoke;
}
.iconoReds{
    color: rgb(202, 202, 202);
}

.contacto li {
    display: inline-block;
    background-color: #333;
    width: 36px;
    height: 36px;
    padding: 10px;
}

@media (max-width: 768px) {
    .MainContactContainer {
        flex-direction: column;
        align-items: center;
    }

    .contactContainer, .SecondContact {
        width: 100%;
        max-width: none;
    }

    .contactMsg {
        width: 100%;
    }
}