.FooterContainer {
    display: grid;
    justify-content: center;
    align-content: end;
    max-height: 70vh;
    background: #e8e8e8;
    padding: 30px;
    margin-top: 40px;
}

.FooterFo {
    position: relative;
    width: 100%;
    height: auto;
    background: #dde1e7;
}

.FooterFo .FooterContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

/**/
.FooterFo .FooterContainer .sec-QuickLinks h2 {
    position: relative;
    color: #333;
    font-weight: 600;
}

.FooterFo .FooterContainer .sec-QuickLinks p { /*No lo esta agarrando*/
    color: #555;
}


.FooterFo .FooterContainer .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px) ;
}
/**/

.FooterFo .FooterContainer .sci li {
    list-style: none;
}

.FooterFo .FooterContainer .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.FooterFo .FooterContainer .sci li a i {
    color: #fff;
    font-size: 20px;
}

.FooterFo .FooterContainer .sec-QuickLinks {
    position: relative;
}

.FooterFo .FooterContainer .sec-QuickLinks ul li {
    list-style: none;
}

.FooterFo .FooterContainer .sec-QuickLinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.FooterFo .FooterContainer .sec-Contact .info {
    position: relative;
}

.FooterFo .FooterContainer .sec-Contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr; /*bs*/
    margin-bottom: 16px;
}

.FooterFo .FooterContainer .sec-Contact .info li span {
    color: #555;
    font-size: 20px;
}

.FooterFo .FooterContainer .sec-Contact .info li a {
    color: #555;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background-color: #fff ;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
    max-height: 40px;
    font-size: 15px;
}

@media (max-width: 991px) {
    .FooterFo
    {
        padding: 40px;
    }
    .FooterFo .FooterContainer
     {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .copyrightText
    {
        padding: 20px 40px 30px;
    }
}
