/* Aqui van los Estilos*/

.loginContainer {
    background-color: #4c8768;
    max-width: 400px;
    padding: 80px;
    text-align: center;
    border-radius: 2px;
    position: relative;left: 420px;
    top: 40px;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.labelLogin {
    padding: 5px;
}

.inputLogin {
    background-color: #96cbb0;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.inputLogin:hover {
    background-color: #3dcd83;

}

.loginBtn {
    background-color: #0e2a1c;
    border: none;
    padding: 5px;
    width: 60px;
    text-align: center;
    color: rgba(201, 223, 31, 0.968);
    border-radius: 3PX;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #0e522ec3;
    color: rgb(209, 223, 217);
}
