/* Aqui van los Estilos*/

.loginContainer {
    background-color: #4c8768;
    max-width: 400px;
    padding: 80px;
    text-align: center;
    border-radius: 2px;
    position: relative;left: 420px;
    top: 40px;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.labelLogin {
    padding: 5px;
}

.inputLogin {
    background-color: #24dfb3e7;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.inputLogin:hover {
    background-color: #c4ccc8e9;

}

.loginBtn {
    background-color: #0a1631ce;
    border: none;
    padding: 5px;
    width: 60px;
    text-align: center;
    color: rgba(54, 206, 128, 0.968);
    border-radius: 3PX;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #18374bdb;
   color: rgba(219, 234, 134, 0.92);
}

/*Inicio de Sesion Logo*/
.ImgInicioLogo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left:522px ;
    box-shadow: 0 0 20px 9px rgba(1, 139, 167, 0.721);

    transition: 1s;
    }
.ImgInicioLogo:hover {
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0 0 20px 2px rgba(1, 136, 73, 0.995);
    
}

.tituloInicio{
    margin-left: 528px;
    font-family: 'Times New Roman', Times, serif;

}

.linkInicio{
    color: rgba(17, 48, 141, 0.902);
}
