.ContainerNavbar {
    background-color: #328E6E;

}

.MainContainerNavbar {
    background-color: #328E6E;
    border-radius: 5px;
    font-size: 30px;
}
.abc{
    color: red !important;
    font-size: 10px;
}
.NavbarImg {
    max-width: 150px;
    max-height: 100px;
    border-radius: 90%;

}

.BrandTitle {
    font-size: 30px;
}