.ContainerNavbar {
    background-color: #328E6E;
    padding: 10px;
}

.MainContainerNavbar {
    background-color: #328E6E;
    padding: 10px;
    border-radius: 5px;
}

.NavbarImg {
    max-width: 150px;
    max-height: 100px;
    border-radius: 90%;
}