.mainContainerNoticia {
    border: 2px solid;
    padding: 5%;
    background-color: #2d9f58e8;
}

.tituloNoticia {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.containerNoticia {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    


}

.inputFile {
    background-color: #65a785;
    border: none;
    padding: 3px;
}
.inputFile:hover {
    background-color: rgba(205, 221, 218, 0.806);}
.inputTexto {
    background-color: #37be8a;
    border: none;
    padding: 5px;
    border-radius: 5px;
    
}
.inputTexto:hover{
    background-color: rgba(205, 221, 218, 0.806);
}
.selectNoticias {
    background-color: #37be8a;
    border: none;
    padding: 5px;
    border-radius: 5px; 
}
.selectNoticias:hover{
    background-color: rgba(205, 221, 218, 0.806);
}

.noticiasBtn {
    background-color: #0a1631ce;
    color: rgb(32, 239, 201);
    padding: 5px;
    width: 85px;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}
.noticiasBtn:hover{
 background-color: #18374bdb;
    color: rgba(219, 234, 134, 0.92);
}
/* Msj Alert éxito */
.creacion-message-I {
    color: #e9fdf0;
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    padding: 13px 60px;
    border-radius: 8px;
    background: linear-gradient(135deg, #034d34, #50aa83);
    border: 3px ridge #427957;
    box-shadow: 0 4px 12px rgba(31, 33, 31, 0.9);
    position: relative;
    animation: bounceIn 0.5s ease-out;
    max-width: 400px;
    width: 90%;
}

.creacion-message-I::before {
    content: "🦖";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    animation: pulse 1s infinite;
}
@media (max-width: 480px) {
    .creacion-message-I {
        font-size: 0.9em;
        padding: 10px;
    }
}

