.registerContainer {
    background-color: #4c8768;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    position: relative;left: 420px;
    top: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.labelRegister {
    position: relative;right: 5px;
    border-radius: 2px;
    padding: 5px;
}

.inputRegister {
   background-color: #24dfb3e7;
    border: none;
    border-radius: 2px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.inputRegister:hover {
   background-color: #c4ccc8e9;  
}

.registerBtn {
    background-color: #0a1631ce;
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: rgba(54, 206, 128, 0.968);
}

.registerBtn:hover {
     background-color: #18374bdb;
    color: rgba(219, 234, 134, 0.92);
}

.barRegister {
    border: 2px solid;
}

.tituloRegistro{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 570px;
}
.linkRegistro{
 color: rgba(17, 48, 141, 0.902);
}
