.containerTablaUsuarios {
    background-color: #999999;
}

.tablaUsuariosDeleteBtn {
    background-color: aquamarine;
    border: none;
}
.tablaUsuariosDeleteBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.tablaUsuariosEditBtn {
    border: none;
}
.tablaUsuariosEditBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.tablaUsuariosConfirmBtn {
    border: none;
}
.tablaUsuariosConfirmBtn:hover {
    background-color: #494949;
    color: whitesmoke;
}

.inputTablaUsuarios {
    border: 2px solid;
}

.inputTablaUsuarios:hover {
    background-color: rgb(225, 223, 223);
}